@charset "utf-8";
/*Formatação para impressão*/
*{
    padding: 10px;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    line-height: 1.5em;
}

menu{
    display: none;
}