@charset "utf-8";

<style>
    body{
        background-color: aquamarine;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    h1{
        color: brown;
        background-color: bisque;
    }
    h2{
        color: blue;
    }
    p{
        text-align: justify;
    }
</style>
